{erl_opts,
    [
        debug_info,
        {d, 'DEBUG'},
%%        warnings_as_errors,
        {parse_transform, lager_transform},
        {i, "./_build/default/plugins/gpb/include"}
    ]
}.

{deps, [
    {lager, "3.8.0"},
    {ranch, "1.7.1"},
    {cowboy, "2.7.0"},
    {mysqlpool, {git, "https://github.com/mysql-otp/mysql-otp-poolboy.git", {tag, "0.1.12"}}},
    {lz4, {git, "https://github.com/binbinjnu/erlang-lz4.git", {branch, "master"}}}
]}.

%% protobuf gpb 插件
{plugins, [
    {rebar3_gpb_plugin, "2.12.5"}
]}.

{gpb_opts, [
    {i, "proto"},
    {module_name_suffix, "_pb"},
    {o_erl, "src/net/proto"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{shell, [
    {config, "./config/dev.config"},
    {apps, [leishen]}
]}.

%% rebar3 shell 的cookie和节点名
{dist_node, [
    {setcookie, 'leishen_cookie'},
    {name, 'leishen@192.168.11.116'}
]}.

{relx, [
    {release, {leishen, "0.1.0"}, [leishen, sasl]},
    {sys_config, "./config/prod.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}
]}.