[
    {leishen, []},
    {lager, [
        {error_logger_redirect, true},
        {async_threshold, 2000},
        {handlers, [
            {lager_console_backend, [{level, info}]}, % 线上环境必须去掉
            {lager_file_backend, [         % 线上环境必须去掉
                {file, "./logs/debug.log"},
                {level, debug},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time," [",severity,"] ", message, "\n"]},
                {size, 10485760},
                {date, "$D0"},
                {count, 5}
            ]},

            {lager_file_backend, [
                {file, "./logs/error.log"},
                {level, error},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time," [",severity,"] ", message, "\n"]},
                {size, 104857600},
                {date, "$D0"},
                {count, 15}
            ]},
            {lager_file_backend, [
                {file, "./logs/warning.log"},
                {level, warning},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time," [",severity,"] ", message, "\n"]},
                {size, 104857600},
                {date, "$D0"},
                {count, 15}
            ]},
            {lager_file_backend, [
                {file, "./logs/notice.log"},
                {level, notice},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time," [",severity,"] ", message, "\n"]},
                {size, 104857600},
                {date, "$D0"},
                {count, 15}
            ]},
            {lager_file_backend, [
                {file, "./logs/info.log"},
                {level, info},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time," [",severity,"] ", message, "\n"]},
                {size, 104857600},
                {date, "$D0"},
                {count, 15}
            ]}
        ]},
        {crash_log, "../logs/crash.log"},
        {crash_log_msg_size, 10240},
        {crash_log_size, 104857600},
        {crash_log_date, "$D0"},
        {crash_log_count, 15}
    ]}
].