[
    {leishen, [
        {net_proto_debug, 1},       % 是否开启网络协议输出 0:否, 1:全部, 其它:玩家id取余该值=1的
        {net_proto_debug_max, 10},  % 网络协议输出最大人数
        {net_proto_debug_path, "./logs/proto/"}, % 网络协议输出路径
        {dev_mode, true}            % dev模式
    ]},

    {sasl, [
        {sasl_error_logger, {file, "./logs/sasl/sasl.log"}}
    ]},

    {lager, [
        {log_root, "./logs"},
        {error_logger_redirect, true},
        {async_threshold, 2000},
        {handlers, [
            {lager_console_backend, [{level, info}]}, % 线上环境必须去掉
            {lager_file_backend, [      % 线上环境必须去掉
                {file, "debug.log"},    % 日志文件
                {level, debug},         % 日志级别
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time," [",severity,"] ", message, "\n"]},    % 格式
                {size, 104857600},      % 大小
                {date, "$D0"},          % 每天更新
                {count, 10}             % 保留文件数量
            ]},
            {lager_file_backend, [
                {file, "info.log"},
                {level, info},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time," [",severity,"] ", message, "\n"]},
                {size, 104857600},
                {date, "$D0"},
                {count, 10}
            ]},
            {lager_file_backend, [
                {file, "notice.log"},
                {level, notice},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time," [",severity,"] ", message, "\n"]},
                {size, 104857600},
                {date, "$D0"},
                {count, 10}
            ]},
            {lager_file_backend, [
                {file, "warning.log"},
                {level, warning},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time," [",severity,"] ", message, "\n"]},
                {size, 104857600},
                {date, "$D0"},
                {count, 10}
            ]},
            {lager_file_backend, [
                {file, "error.log"},
                {level, error},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time," [",severity,"] ", message, "\n"]},
                {size, 104857600},
                {date, "$D0"},
                {count, 10}
            ]}
        ]},
        {crash_log, "../logs/crash.log"},
        {crash_log_msg_size, 10240},
        {crash_log_size, 104857600},
        {crash_log_date, "$D0"},
        {crash_log_count, 10}
    ]}
].